# データベース（非機密値はそのままでも可）
MYSQL_HOST=db
MYSQL_DATABASE=study_app
MYSQL_USER=study1
DB_PORT=3306

# データベース秘密情報（自分で設定）
MYSQL_ROOT_PASSWORD=CHANGE_ME
MYSQL_PASSWORD=CHANGE_ME

# アプリのポート
FRONTEND_PORT=8080
BACKEND_PORT=8000

# Docker設定
DOCKER_PLATFORM=linux/arm64

# フロント/バックのURL（HTTP例）、HTTPSならポート不要
APP_SCHEME=http
VITE_APP_SCHEME=http
FRONTEND_HOST=localhost:8080
VITE_BACKEND_HOST=localhost:8000

# HTTPSポータル
HTTPS_STAGE=local

# アプリのフラグ
VITE_MAIL_FORM=true # メール登録フォーム表示するか
ENV=DEV
COOKIE_SAMESITE=lax

# テスト用DB
TEST_MYSQL_DATABASE=test_study_app
TEST_DATABASE_URL=mysql+pymysql://USER:PASSWORD@db/test_study_app

# 管理者アカウント（自分で設定）
APP_ADMIN_USER=app_admin
APP_ADMIN_PASSWORD=CHANGE_ME

# セキュリティ（自分で設定）
SECRET_KEY=CHANGE_ME_64_HEX
ALGORITHM=HS256
PEPPER=CHANGE_ME
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_WEEKS=2
LOGFILE_PATH=/var/log/error_log.log
DEV_LOGFILE_PATH=/backend/log/error_log.log
