.DS_Store
*.pyc
__pycache__
backend/app/__pycache__
.env*
*.db
.venv
*.png
.gitignore
temp
backend/.pytest_cache
backend/log
ansible/ansible_vault_pass.txt
ansible/group_vars/all*
ansible/host_vars/server*
ansible/env_vars/.env*
/data/certs
.history
frontend/test-results