services:
  devcontainer:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - .:/workspace
    environment:
      - PYTHONUNBUFFERED=1
      - FRONTEND_DOMAIN=${FRONTEND_DOMAIN}
    stdin_open: true  # 標準入力を開いたままにする

  backend:
    ports:
      - "5678:5678"  # デバッグポートをマッピング
    volumes:
      - ./backend:/backend

  frontend:
    volumes:
      - ./frontend:/frontend
      - /frontend/node_modules  # node_modulesを除外
