CREATE DATABASE IF NOT EXISTS `__TEST_MYSQL_DATABASE__`;

GRANT ALL PRIVILEGES ON `__MYSQL_DATABASE__`.* TO '__MYSQL_USER__'@'%';
GRANT ALL PRIVILEGES ON `__TEST_MYSQL_DATABASE__`.* TO '__MYSQL_USER__'@'%';
FLUSH PRIVILEGES;
